#container {
    height: fit-content;
    width: 80%;
    background-color: rebeccapurple;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin: 90px;
    border-radius: 25px;
    padding: 20px;
    color: #efc834;

}

body{
    color: #efc834;
    font-family: 'Kaushan Script', cursive;
    background-image: url(../images/background.jpg);
}

.btn {
    background-color: #efc834;
    color: rebeccapurple;

}

