#container {
    height: fit-content;
    width: 85%;
    background-color: #036cf4f0;
    font-family: 'Kaushan Script', cursive, 30px;
    text-align: center;
    margin: 90px;
    border-radius: 25px;
    padding: 20px;
    color: #ef9634;

}

body{
    color: #efc834;
    font-family: 'Kaushan Script', cursive;
    background-image: url(../images/background.jpg);
}

.btn {
    background-color: #efc834;
    color: rebeccapurple;

}
 .btn-warning{
    width: 300px;
    height:100px;
 }
 
